@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Header*/

header {
    background-color: #3a3a3a;
    width: 100%;
    padding-bottom: 100px;
    border-bottom: 2px solid #b5b5b5;
}

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #FFFAFA;
    font-size: 100%;
}

h3 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #FFFAFA;
    font-size: 150%;
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 35px;
    background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 1) 0%, rgba(0, 94, 184, 1) 50%, rgba(255, 255, 255, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 90px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    line-height: 101px;
    position: relative;
    text-transform: uppercase;
}


#menu li {
    float: right;
    list-style-type: none;
    padding-right: 30px;
}


#menu a {
    text-decoration: none;
    color: #FFFAFA;
}

#menu a:hover {
    background-color: #b5b5b5;
    padding-top: 41px;
    padding-bottom: 39px;
    color: #3a3a3a;
}

.active {
    background-color: #b5b5b5;
    padding-top: 41px;
    padding-bottom: 39px;
    border-bottom: 2px solid #3a3a3a;
}

#menu .active {
    color: #3a3a3a;
}

/*Dropdown menu for smaller screens*/

#dropdown {
    font-size: 100%;
    letter-spacing: 4px;
    position: relative;
    width: 30%;
    height: 30px;
    float: right;
    margin-top: 35px;
    margin-right: 35px;
    text-transform: uppercase;
}

nav select {
    display: none;
}

#ticketbutton {
    bottom: 15px;
    right: 15px;
    position: fixed;
    padding: 10px 20px;
    background-color: #005eb8;
    border: 2px solid #0052a7;
    z-index: 2;
    border-radius: 5%;
    padding: 1%;
}

#ticketbutton a {
    color: #f5f5f5;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}


/* Hero Image*/

#hero-outer {
    height: 900px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/*Image from: https://www.pexels.com/photo/people-gathering-near-stage-with-fireworks-1306791/*/

#hero-image {
    height: 900px;
    width: 100%;
    background: url(../images/redstage.jpg) no-repeat bottom center;

    /*Animation for color*/

    animation-name: hero-blur;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}


@keyframes hero-blur {
    from {
        filter: grayscale(100);
    }

    to {
        filter: grayscale(0);
    }
}

.herotext {
    color: white;
    font-size: 300%;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.herotext h2 {
    font-weight: bolder;
    font-size: 400%;
    padding-bottom: 10%;
}

.blue {
    color: #005eb8;
}

#demo {
    font-size: 150%;
    color: #005eb8;
    padding-top: 3%;
    position: relative;
}


/* Amenities section*/


#amenities h2 {
    color: #f5f5f5;
    text-align: center;
    font-size: 300%;
    padding: 30px;
    width: 300px;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

#amenities h3 {
    padding-bottom: 5%;
    padding-top: 5%;
    margin-bottom: 5%;
}

#amenities-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5px;
    column-gap: 20px;
    row-gap: 20px;
    margin: 5px 10%;
    box-sizing: border-box;
    width: 80%;
}

.text-box {
    align-items: center;
    border-radius: 1%;
    border: 3px groove rgba(0, 0, 0, 0.4);
    line-height: 1;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 50px;
    position: relative;
    text-align: center;
    z-index: 1;
    box-sizing: border-box;
    color: #f5f5f5;
    width: auto;
    height: auto;
}

.text-box h3 {
    text-transform: uppercase;
    font-size: 150%;
    font-weight: bold;
    padding: 5%;
}

.text-box p {
    margin-left: 10%;
    margin-right: 10%;
}

.text-box a {
    position: relative;
    float: right;
    font-weight: bold;
    bottom: auto;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
    width: 30%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #b5b5b5;
    border-radius: 2%;
    border: 2px solid rgba(0, 0, 0, 0.4);
}

.text-box a:hover {
    transform: scale(1.1);
    color: #f5f5f5;
    background-color: #3a3a3a;
    border: 2px solid rgba(0, 0, 0, 0.4);
}

/* Image from https://www.pexels.com/photo/person-playing-sun-burst-electric-bass-guitar-in-bokeh-photography-96380/*/

#music {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(../images/Guitar.jpg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

/* Image from https://www.pexels.com/photo/photo-of-juicy-burger-on-wooden-surface-1639565/*/

#food {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(../images/burger.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

/* Image from https://www.pexels.com/photo/an-amusement-park-at-night-2884693/*/

#activities {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(../images/wheel.jpg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

/* Image from https://www.pexels.com/photo/silhouette-of-person-standing-near-camping-tent-2398220/*/

#camping {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(../images/camping.jpg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

/* Styling for Map*/

#mapouter h3 {
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 2.5%;
}

iframe {
    height: 300px;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5%;
}



/* Footer */

footer {
    background-color: #3a3a3a;
    height: 30%;
    border-top: 2px solid #b5b5b5;
    bottom: 0%;
}

.socials {
    text-align: center;
}

.socials>li {
    display: inline;
}

.socials i {
    font-size: 160%;
    padding: 10px 5%;
    margin: 1%;
    color: #FFFAFA;
}

.socials i:hover {
    color: black;
}

/* Background Scanlines*/
body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    letter-spacing: 4px;
    background-color: #3a3a3a;
    background-image: repeating-linear-gradient(0deg, transparent, rgba(128, 128, 128, 50%) 0, transparent 1px, transparent 0.3%);
}

/* Gallery */

.title {
    width: 80%;
    margin: 5% auto 2.5% auto;
}

.gallery-heading {
    margin: auto;
    font-size: 200%;
    width: 100%;
    border-bottom: 2px solid #f5f5f5;
}

.gallery {
    clear: both;
    column-count: 4;
    column-gap: 0px;
    row-gap: 0px;
    width: 80%;
    margin: auto;
}

.gallery img {
    width: 100%;
    height: auto;
    line-height: 0;
    display: block;
    box-sizing: border-box;
}

.gallery img:hover {
    border: 1px solid white;
}


/* Contact us page*/

#contactform {
    clear: both;
    background: url(../images/contactstage.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
    z-index: 0;
}

.signup-form {
    margin-left: auto;
    margin-right: auto;
    color: #f5f5f5;
    background-image: linear-gradient(rgba(58, 58, 58, 1), rgba(58, 58, 58, 0.3));
    width: 50%;
    height: auto;
    position: relative;
    padding: 30px;
    display: block;
    top: 25%;
}

.contact {
    color: #f5f5f5;
    width: 80%;
    position: relative;
    padding: 30px;
    display: block;
}

.contact h2 {
    font-size: 200%;
    border-bottom: 2px solid #f5f5f5;
    width: 50%;
}

.hidden {
    display: none;
}

.contact h3 {
    padding: 0;
    margin: 0;

}


.signup-form>h2 {
    color: #f5f5f5;
    margin-bottom: 20px;
    font-size: 150%;
}

.text-input {
    background: transparent;
    color: #f5f5f5;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #b5b5b5;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f5f5f5;
}

.join-button {
    padding: 5px;
    background-color: #b5b5b5;
    color: rgb(58, 58, 58);
    font-size: 100%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.join-button:hover {
    background-color: #3a3a3a;
    color: #f5f5f5;
}

select {
    background: rgba(60, 60, 60, 0.6);
    color: #f5f5f5;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #b5b5b5;
    border-radius: 2px;
}

select:hover {
    border-color: #f5f5f5;
}

#birthday {
    max-width: 100px;
}

/* Ticket section*/

#tickets {
    width: 80%;
    margin: auto;
    height: auto;
}

#tickets h2,
#tickets h3 {
    margin: 0;
    padding: 1% 0;
}

#tickets h2 {
    font-size: 200%;
    border-bottom: 2px solid #f5f5f5;
    width: 50%;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

#tickets h4 {
    font-family: Montserrat, sans-serif;
    letter-spacing: 4px;
    color: #f5f5f5;
    font-size: 110%;
}

#tickets h5 {
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    color: #f5f5f5;
    font-size: 120%;
    font-weight: 500;
    padding-bottom: 20px;
}

#tickets p {
    font-family: Montserrat, sans-serif;
    letter-spacing: 4px;
    color: #f5f5f5;
    font-size: 100%;
    padding: 5px 2px;
}

.ticketbox {
    text-align: center;
    height: 300px;
}

.ticketbox>div {
    width: 33.33333333333333%;
    background-color: rgba(0, 0, 0, 0.6);
    height: 300px;
    box-sizing: border-box;
    float: left;
    padding-top: 2.5%;
}

.ticketbox>div:hover {
    border: 1px solid white;
}

.border {
    border-right: 5px solid #b5b5b5;
}

.ticketbox a {
    font-weight: bold;
    font-size: 100%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: white;
    padding-top: 7.5%;
}

.ticketbox .envelope {
    font-size: 200%;
    margin-bottom: 5px;
}

/* Image from:https://www.pexels.com/photo/people-at-concert-1105666/*/
#day {
    background: url(../images/party.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

/* Image from:https://www.pexels.com/photo/photo-of-pitched-dome-tents-overlooking-mountain-ranges-1687845/*/
#standard {
    background: url(../images/tents.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

/* Image from:https://www.pexels.com/photo/photo-of-teepee-under-a-starry-sky-2666598/*/
#vip {
    background: url(../images/yurt.jpg) no-repeat bottom center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    height: 300px;
}


/* Line Up*/

#lineup {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 5%;
}

#lineup h2 {
    font-size: 200%;
    border-bottom: 2px solid #f5f5f5;
    width: 50%;
    margin-bottom: 5%;
    margin-top: 2.5%;
    text-align: left;
    padding: 1% 0;
}

.lineuplist {
    background-color: rgba(0, 0, 0, 0.4);
    row-gap: 20px;
}

.lineuplist h3 {
    margin: 10px auto;
    padding: 0px;
    border-bottom: 1px solid #f5f5f5;
    width: 50%;
}


.lineuplist li,
.lineuplist span {
    margin: auto;
    text-align: center;
    list-style-type: none;
    display: inline-block;
    padding: 2px;
}

.lineuplist a {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #f5f5f5;
    font-size: 150%;
    text-decoration: none;
    font-weight: 300;
    box-sizing: border-box;
}

.lineuplist a:hover {
    font-size: 200%;
    font-weight: 500;
    color: #3a3a3a;
    background-color: #f5f5f5;
    padding: 2px;
    border: 1px groove rgba(58, 58, 58, 0.4);
}



.lineuplist span::after {
    content: ".";
    color: #f5f5f5;
    padding: 0 5px;
}

/* Media queries*/

@media (max-width: 1024px) {
    nav ul {
        display: none;
    }

    nav select {
        display: inline-block;
    }

    .gallery {
        column-count: 3;
    }

    #ticketbutton {
        display: none;
    }

    .ticketbox>div>p {
        display: none;
    }

    .gallery img:hover {
        border: none;
    }
}

@media (max-width: 736px) {

    #logo {
        font-size: 300%;
    }

    #ticketbutton {
        display: none;
    }

    #day {
        background-size: cover;
        width: 100%;
        overflow: visible;
        height: 395px;
    }

    #standard {
        background-size: cover;
        width: 100%;
        overflow: visible;
        height: 395px;
    }

    #vip {
        overflow: visible;
        height: 395px;
    }

    .mail {
        display: none;
    }

    .envelope {
        display: contents;
    }

    .border {
        border-right: none;
        border-bottom: 5px solid #b5b5b5;
    }

    .ticketbox {
        height: 450px;
    }

    .ticketbox>div {
        display: block;
        width: 100%;
        height: auto;
    }

    .ticketbox>div>p {
        display: none;
    }

    .ticketbox>div>h4 {
        font-size: 200%;
    }

    .ticketbox>div>h3 {
        line-height: 200%;
    }

    .ticketbox a {
        padding: 0%;
        margin: 0%;
    }

    #amenities-container {
        display: block;
    }

    #mapouter h3 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .lineuplist h3 {
        font-size: 80%;
    }

    .lineuplist a {
        font-size: 100%;
        padding: 1px;
    }

    .lineuplist li {
        padding: 1px;
        display: block;
    }

    .lineuplist a:hover {
        font-size: 120%;
        font-weight: 500;
        color: #3a3a3a;
        background-color: #f5f5f5;
        padding: 1px;
        border: 1px groove rgba(58, 58, 58, 0.4);
    }

    .lineuplist span:after {
        display: none;
    }

    #hero-image {
        height: 450px;
    }

    .herotext {
        font-size: 100%;
    }

    #hero-outer {
        height: 450px;
    }

    #amenities h2 {
        font-size: 200%;
        margin-top: 5%;
        margin-bottom: 2.5%;
    }

    #contactform {
        height: 450px;
    }

    #mailinglist {
        padding: 15px;
        width: 90%;
    }

    .signup-form {
        top: 5%;
    }

    .signup-form .shown {
        display: none;
    }

    .hidden {
        display: block;
    }

    .contact {
        margin-left: auto;
        margin-right: auto;
        float: none;
        text-align: center;
    }

    .contact h2 {
        width: auto;
    }

    label {
        font-size: 80%;
    }
    
    .gallery {
        column-count: 2;
    }
}

@media (max-width: 414px) {

    .gallery {
        column-count: 1;
    }
}