@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Header*/

header {
    background-color: #3a3a3a;
    height: 100px;
    border-bottom: 2px solid #b5b5b5;
}

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff;
}

#logo {
    float: left;
    font-size: 35px;
    margin-left: 30px;
    color: white;
    line-height: 90px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    line-height: 101px;
}


#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
    color: white;
}

#menu a:hover {
    background-color: #b5b5b5;
    padding-top: 41px;
    padding-bottom: 39px;
}

.active {
    background-color: #b5b5b5;
    padding-top: 41px;
    padding-bottom: 39px;
    border-bottom: 2px solid #3a3a3a;
}

/* Hero Image*/

#hero-outer{
    height: 900px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/*Image from: https://www.pexels.com/photo/people-gathering-near-stage-with-fireworks-1306791/*/

#hero-image {
    height: 900px;
    width: 100%;
    background: url(../images/redstage.jpg) no-repeat bottom center;

    /*Animation for unblur*/

animation-name:hero-blur;
animation-duration: 8s;
animation-fill-mode: forwards;
}


@keyframes hero-blur {
    from{
        filter:grayscale(100);
    }
    to{
        filter: grayscale(0);
    }
}
}

#hero image h2, #hero image p {

}