/*Header*/

header {
    background-color: blueviolet;
}

a {
    text-decoration: none;
}

#logo {
    color:black ;
    font-size: 200%;
    margin: ;
}

#menu {
    text-transform: uppercase;
    color: inherit;
    letter-spacing: 2px;
}

#logo, #menu {
    line-height: 5px;
}

#menu li {
    list-style-type: none;
    float: right;
    margin-right: 30px;
    
}